#footer{
	border-top:1px solid black;
	width:50%;
	margin:auto;
	z-index:99;
	@media(max-width:604px){
		width:80%;
	}
	span{
		border:none;
	}
	div{
		margin: 1em 1em;
		text-align:center;
	
		img{
			transition: all .3s ease-in-out;
			margin: 0 0.5em;
			width:3em;
			&:hover{
				filter: opacity(40%);
			}
		}
	}
	#email{
		display:block;
		text-align:center;
	}
}


