<div id="footer">
	<div id="footerContent">
		<a href="https://github.com/Buraisx" target="_blank"><img src="../../assets/images/github.svg"></a>
		<a href="https://www.linkedin.com/in/william-situ-1a466895/" target="_blank"><img src="../../assets/images/linkedin.svg"></a>
		<a href="https://www.instagram.com/william.situ.248/" target="_blank"><img src="../../assets/images/instagram.svg"></a>
		<a href="mailto:situ_william@yahoo.com" target="_blank"><img src="../../assets/images/email.svg"></a>
	</div>
	<span id="copy"> Made by William ©2018</span>
</div>