#landingBackground{
    filter: blur(2px);
    background: url("../../assets/images/landingImage.jpg") center no-repeat;
    background-size: cover;
    height:95vh;
    z-index:0;
}
#landing{

    position:absolute;
    left:0;
    top:0;
    text-align:center;
    color: #ffffff;
    height:95vh;
    width:100%;

    background: rgba(102,102,102,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 38%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(38%, rgba(43,43,43,1)), color-stop(68%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 38%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 38%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 38%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 38%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);

    opacity:0.6;

    #logo{
    margin-top:0.7em;
    font-family:'Quicksand';
    transition: all .1s ease-in-out;
    letter-spacing: normal;
        a{
            text-decoration:none;
            color: #ffffff;

        }
        &:hover{
                transform:scale(1.1);
        }
    }
    #landingContent{
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    h1{
        font-family: 'Lucida Grande','Quicksand';
        letter-spacing: 10px;
        margin-bottom:0px;
    }
    h2{
        margin-top:0px;
        margin-bottom:0.5em;
        
    }
    img{
        width:1.5em;
        height:1.5em;
        margin: 0 0.5em;
        transition: all .2s ease-in-out;
        &:hover{
            filter: opacity(50%);
        }
    }
}
