h1{
    font-family: 'Lucida Grande','Quicksand';
    letter-spacing: 10px;
    margin-bottom:0px;
}
h2{
    margin-top:0px;
    margin-bottom:0.5em;
}
#landing{
    margin-top:30vh;
    text-align:center;
    margin-bottom:20vh;
}
img{
    width:1.5em;
    height:1.5em;
    transition: all .2s ease-in-out;
    &:hover{
        filter: opacity(50%);
    }
}