<div id="about" class="container-fluid">
	<h3>Me</h3>
	<div id="aboutDescription" class="row">
		<div class="offset-3 offset-sm-1 offset-md-2 col-md-4 col-sm-5 col-6 col-lg-3">
			<img src="../../assets/images/williamPortrait.png" class="img-fluid">
		</div>
		<div class="col-md-4 col-sm-5 col-lg-5">
			<p>I’m William Situ, and I build websites.  A Toronto resident focused on creating amazing things for others.  Whether its solving back-end logic, or presenting a user experience, i’ll be there to challenge myself and provide solutions for you.
				<br><br>
			I am currently accepting new opportunities and projects.  Feel free to message me.</p>
		</div>
	</div>
</div>
