#about{
	text-align:center;
	background-color: #F7F6F2;
}
#aboutDescription{
	padding-bottom:2em;
}
p{
	font-family: Roboto, Quicksand;
	line-height: 2em;
	opacity:0.8;
}
h3{
	padding-top:2em;
	padding-bottom:1em;
}
h2,h3,h4{
	font-family:'Quicksand';	
}