
	<mat-grid-list cols="{{columns}}" gutterSize="1rem" rowHeight="2:1" id="projects_list">
		<a href = "/">
		<mat-grid-tile id={{project.imageClass}} class="projects" *ngFor="let project of projectsObservable | async"
		[colspan]="project.cols"
		[rowspan]="project.rows">
			<div class="projectInfo">
				{{project.name}}
				{{project.link}}
			</div>
		</mat-grid-tile>
	</a>
	</mat-grid-list>

<mat-grid-list cols="6">
	<mat-grid-tile [colspan]="6">
		<span>I build with</span>
	</mat-grid-tile>
	<mat-grid-tile *ngFor="let icon of stack"
		[colspan]="1">
		<img src="../../assets/images/{{icon}}.svg">
	</mat-grid-tile>
</mat-grid-list>

