#projects{
	padding: 2em 0;
	text-align:center;
	background-color: #FBE8A6;
	.col-12{
		padding-right:0px;
	}
	.borderBottom{
		padding: 2em 0;
		border-bottom: 1px solid #7f7f7f;
		
	}
	.imageBorder{
			@media(max-width:576px){
				border: none;
			}
		}
	.row{
		margin-top:5em;
				padding-right:0px;

	}
	.anchor{
		color:blue;
	}
}
