<mat-grid-list cols="2" gutterSize="1rem" rowHeight="2:1">
	<mat-grid-tile id={{project.imageClass}} class="projects" *ngFor="let project of projectsObservable | async"
	[colspan]="project.cols"
	[rowspan]="project.rows">
	</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6">
	<mat-grid-tile [colspan]="6">
		<span>I build with</span>
	</mat-grid-tile>
	<mat-grid-tile *ngFor="let icon of stack"
		[colspan]="1">
		<img src="../../assets/images/{{icon}}.svg">
	</mat-grid-tile>
</mat-grid-list>

