<div id="abilityList" class="container-fluid">
	<div class="row">
		<h3 class="col-12">How I can help</h3>
		<div class="col-12 subtext">
			<p>Starting from the ground up, I'll help design, build, and maintain your app!</p>
		</div>
	</div>

	<div id="abilityContent" class="row">
		<div class="offset-xs-2 col-8 col-md-3 col-sm-4 col-lg-2" [ngClass]="{'offset-md-half offset-lg-3 ': firstCol}" *ngFor="let ability of abilities; let firstCol=first" >
			<div id="{{ability.image}}">
				<img src="../../assets/images/{{ability.image}}.svg">
			</div>
			<div class="row">
				<div class="col-12">
					<h4>{{ability.title}}</h4>
					<p>{{ability.text}}</p>
				</div>
			</div>
		</div>
	</div>
</div>