<div id="abilityList">
	<div id="abilityContent">
		<div class="abilityTitle">
			<span>What I can do</span>
		</div>
<!-- 		<mat-grid-list cols="3" gutterSize="1.5em">
 -->			
			<!-- <mat-grid-tile *ngFor="let icon of abilities" -->
				<!-- [colspan]="1" id={{icon}}> -->
			<div class="row">
			<div *ngFor="let icon of abilities" class="col-sm-4">
				<img src="../../assets/images/{{icon}}.svg">
			</div>
		</div>
			<!-- </mat-grid-tile> -->
			<mat-grid-tile *ngFor="let description of descriptions"
				[colspan]="1" [rowspan]="2" class="abilityInfo">
				<div class="info">
					<h3>{{description.title}}</h3>
					<p>{{description.text}}</p>
				</div>
			</mat-grid-tile>
		<!-- </mat-grid-list> -->
	</div>
</div>