// /* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');
html, body { overflow-x: hidden; }
body{
	margin:0px;
	font-family:'Quicksand';
}
a{
	color:black;
}
span{
	padding-bottom:0.5em;
	border-bottom: 1px solid black;
}
p{
	font-family: Roboto, Quicksand;
	line-height: 2em;
	opacity:0.8;
}
h2,h3,h4{
	font-family:'Quicksand';	
}
